@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  --button-color: rgb(249, 70, 237);
  --button-color-hover: rgb(246, 149, 239);
  --button-color-hover1: rgb(247, 210, 244);
  --font-family: "Poppins", sans-serif;
  height: 100vh;
}

.left {
  width: 23%;
  padding: 1rem;
  border-right: 1px solid;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.right {
  width: 77%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.buttons {
  border: none;
  border-radius: 10px;
  background-color: var(--button-color);
  min-height: 5.4rem;
  min-width: 4.5rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.buttons:hover {
  background-color: var(--button-color-hover);
}

.saveButton {
  margin: 0 0.7rem 0 0.7rem;
}
.newNoteButton {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1.4rem;
  justify-content: center;
  font-size: 1.2rem;
}

.note-entry {
  margin-top: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.note-entry:hover {
  background-color: var(--button-color-hover1);
  transition: all 0.3s ease-in-out;
}

.note-content-teaser,
.note-title {
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  overflow: hidden;
}

.note-title {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1rem 1rem 0 1rem;
}

.note-date {
  text-align: right;
  color: gray;
  padding: 0 1rem 1rem 0;
}
.note-content-teaser {
  color: gray;
  padding: 1rem;
}
.textarea {
  width: 100%;
  height: 80vh;
  border: none;
  font-size: 1.5rem;
  padding-top: 0.3rem;
  --font-family: "Poppins", sans-serif;
}

.icons {
  height: 2rem;
  margin-left: 0.5rem;
  align-content: center;
}

.buttonText {
  margin-left: 0.5rem;
  align-content: center;
}

.InputTitle {
  font-size: 3rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  width: calc(100% - 10.8rem);
  padding: 1rem 0 1rem 0;
}

.note-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.selectedNote {
  background-color: var(--button-color-hover1);
}
